USE [master]
GO
/****** Object:  Database [DocAni]    Script Date: 7/31/2021 8:50:09 PM ******/
CREATE DATABASE [DocAni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocAni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DocAni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DocAni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DocAni_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocAni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocAni]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 7/31/2021 8:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adminid] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdminAccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Harvest]    Script Date: 7/31/2021 8:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Harvest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HarvestDate] [date] NULL,
	[RiceID] [int] NULL,
	[ricevarietyname] [nvarchar](max) NULL,
	[PestsDiseases] [nvarchar](max) NULL,
	[MillingRecovery] [decimal](5, 2) NULL,
	[PlantDate] [date] NULL,
	[userid] [nvarchar](50) NULL,
 CONSTRAINT [PK_Harvest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiceVariety]    Script Date: 7/31/2021 8:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiceVariety](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ricevarietyname] [nvarchar](max) NULL,
	[AverageYield] [decimal](5, 2) NULL,
	[MaximumYield] [decimal](5, 2) NULL,
	[Maturity] [int] NULL,
	[Height] [decimal](5, 2) NULL,
	[PestsDiseases] [nvarchar](max) NULL,
	[EatingQuality] [nvarchar](50) NULL,
	[GrainSize] [nvarchar](50) NULL,
	[MillingRecovery] [decimal](5, 2) NULL,
	[riceimage] [nvarchar](max) NULL,
	[Ekolohiya] [nvarchar](50) NULL,
	[Breeding] [nvarchar](50) NULL,
 CONSTRAINT [PK_RiceVariety] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[useraccount]    Script Date: 7/31/2021 8:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useraccount](
	[fullname] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[age] [int] NULL,
	[contact] [bigint] NULL,
	[email] [varchar](50) NULL,
	[address] [varchar](max) NULL,
	[userid] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_useraccount] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
